
@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial);


/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

* {
    font-family: "Cormorant Garamond", serif;
    box-sizing: border-box;
}

header {
    background:
        url(../img/bg.jpg);
    background-size: cover;
}

img {
    width: 100%;
}

p {
    font-size: 16px;
}

.full {
    height: 100vh;
}

.logo {
    margin: .5em 0 0;
    max-width: 160px;
}

.mypic {
    margin: .5em 0 0;
    max-width: 100px;
}

.main {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 0 .5em;
}

.text {
    font-size: 18px;
    line-height: 2.5;
    padding: 0 3.5em;
}

.name {
    margin: 1.2em 0 0;
}

.job-title {
    font-weight: 300;
    margin: .5em 0;
}

.contact-info a{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    border: 2px solid #fff;
    padding: 10px;
    top: 50px;
    color: #fff;
    font-size: 17px;
}

.contact-info a:hover{
    color: #fff;
}

.text-fade {
    color: #a4a4a4;
}

.text-white {
    color: #fff;
}

.small-text {
    font-size: 20px;
    font-weight: 300;
}

.bg-color1 {
    background-color: #c5443b;
}

.bottom-space {
    margin: 1.5em 0;
}

footer {
    margin: 2em 0 2em;
}

footer a{
    margin: 0 1em;
    position:relative;
    font-size: 20px;
    color: #000;
}

footer a:hover{
    color: #000;
}

.icons {
    margin: 2em 0;
}

.icons a{
    margin: 0 1em;
    position:relative;
    font-size: 20px;
    color: #000;
}

.icons a:hover{
    color:#000;
}

.copyright {
    margin: 3em 0;
    font-size: 15px;
}


@media screen and (min-width: 550px) and (max-width: 767px) {
    #recent-work1, #recent-work2 {
        width: 50%;
    }

    .name {
        font-size: 30px;
    }

    .job-title {
        font-size: 25px;
        font-weight: 300;
    }

    .small-text {
        font-size: 25px;
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        margin: .5em 0 0;
        max-width: 150px;
    }

    .name {
        margin: .5em 0 0;
        font-size: 45px;
    }

    .job-title {
        font-size: 28px;
        font-weight: 300;
    }

    .small_text {
        font-size: 28px;
    }

    .featured-work{
        height: 143px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .name{
        margin: 0;
    }

    .featured-work {
        height: 190px;
    }
}
