
* {
    font-family: "Cormorant Garamond", serif;
    -webkit-box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url(../img/bg.jpg);
    background-size: cover;
}

img {
    width: 100%;
}

p {
    font-size: 16px;
}

.full {
    height: 100vh;
}


.arrows {
    width: 41px;
    height: 44px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 2px
}

.section-bottom{
    margin: 2em;
}

.logo {
    margin: -0.5em 2em 0 -1.5em;
    max-width: 155px;
}

.mypic {
    margin: -0.5em 0 0;
    max-width: 95px;
}

.main {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: white;
    border-left: 2px solid #fff;
    padding: 0 1em;
    height: 68px;
    width: 80%;
}

.title-div {
    margin: 3em 0 1.5em;
}

.title {
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
}

.text {
    font-size: 18px;
    line-height: 2;
    padding: 0 3.5em;
}

.name {
    font-size: 20px;
}

.job-title {
    margin: .5em 0;
    font-size: 16px;
}

.contact-info a{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    border: 2px solid #fff;
    padding: 10px;
    top: 50px;
    color: #fff;
    font-size: 14px;
}

.contact-info a:hover{
    color: #fff;
}

.text-fade {
    color: #a4a4a4;
}

.text-white {
    color: #fff;
}

.small-text {
    font-size: 20px;
    font-weight: 300;
}

.bg-color1 {
    background-color: #eff7f6;
}

.bg-color2 {
    background-color: #fff;
}

.bg-color3 {
    background:
    linear-gradient(
      rgba(78, 100, 113, 0.7),
      rgba(78, 100, 113, 0.7)
    ),
    url(../img/bg2.jpg);
    background-size: cover;
}

.bg-color4 {
    background-color: #dae6ec;
}

.bg-color5 {
    background-color: #fff;
}

.border-bottom {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.bottom-space {
    margin: 1.5em 0;
}

.circle {
    border-radius:50%;
    width: 120px;
    height: 120px;
    background: #a0bcbf;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.circle i {
    color: #fff;
    margin-top: 38px;
    margin-left: 23px;
}

.whatimage {
    position: relative;
    width: 100%;
        background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.whattitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 100%;
}

.whattext {
    font-size: 18px;
    line-height: 2.5;
    padding: 0 1.5em;
}

.project-tile {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-tile:hover {
    background-color: rgba(224, 193, 190, 0.43);
    -webkit-filter: grayscale(0%);
}

.detail-title {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.hanging-close {
    position: absolute;
    top: -2px;
    right: -8px;
    color: #808080;
}

.detail-image {
    width: 80%;
}

.detail-text {
    font-size: 18px;
    line-height: 2;
    padding: 0 3.5em;
}

[class*="fa-"] {
  margin: 0 .5em .5em;
}

.detail-icons a, .detail-icons a:hover{
    color: #000;
}

footer {
    padding: 1em 0;
}

footer a, footer a:hover{
    margin: 0 1em;
    position:relative;
    font-size: 20px;
    color: #000;
}

.icons {
    margin: 2em 0 0 0;
}

.icons a, .icons a:hover{
    margin: 0 1em;
    position:relative;
    font-size: 20px;
    color: #000;
}

#contact-area {
    width: 400px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#contact-area input, #contact-area textarea {
    padding: 5px;
    width: 200px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #21283b;
}

#contact-area textarea {
    height: 120px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 1px solid #000;
}

#contact-area input.submit-button {
    margin-left: 101px;
    background-color: #21283b;
    color: #fff;
}

label {
    float: left;
    text-align: right;
    margin-right: 2px;
    width: 100px;
    padding-top: 5px;
}

@media screen and (min-width: 550px){
    #recent-work1, #recent-work2 {
        width: 50%;
    }

    .name {
        font-size: 21px;
    }

    .job-title {
        font-size: 20px;
    }

    .contact-info a{
        font-size: 15px;
    }

    .small-text {
        font-size: 20px;
    }

    .main {
        height: 73px;
    }

    form {
        margin-left: -65px;
    }

    #contact-area {
        width: 423px;
    }

    #contact-area input, #contact-area textarea {
        width: 366px;
    }

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
    .main {
        height: 92px;
    }

    .name {
        margin: 0.5em 0 0;
        font-size: 32px;
    }

    .job-title {
        font-size: 28px;
        font-weight: 300;
    }

    .small_text {
        font-size: 28px;
    }

    .featured-work{
        height: 205px;
    }

    .design .studying .develop{
        border-left: 5px solid #ead3b2;
        border-right: 5px solid #ead3b2;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .main {
        height: 80px;
    }

    .name {
        margin: 0;
        font-size: 42px;
    }

    .job-title {
        font-size: 24px;
    }

    .text {
        line-height: 2.5;
    }

    .featured-work {
        height: 220px;
    }

    #contact-area {
        width: 566px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    #contact-area input, #contact-area textarea {
        width: 450px;
    }

    form {
        margin-left: -105px;
    }

    label {
        float: left;
        text-align: right;
        margin-right: 15px;
        width: 100px;
        padding-top: 5px;
    }

    #contact-area input.submit-button {
        margin-left: 116px;
    }
}
